#buttons
{
	margin-top: 50px;
	margin-bottom: 50px;
}
#buttons .container
{
	    width: calc(1253px + 2rem)!important;
}
#buttons .container .row
{
	padding-top: 2rem;
    padding-bottom: 2rem;
}
#buttons .container .active
{
	background-color: #474a4f !important;
	color: #ffffff !important ;
}
#buttons .container .rt-align
{
	display: flex;
	justify-content: flex-end;
	 align-items: end; 
}
#buttons .container .btn-tour
{
	width: 300px;
	margin-right: 0px;
	height: 60px;
	font-weight: 500;
	font-size: 20px;
	font-family: 'Montserrat',sen-serif;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
#buttons .container .btn-ground
{
	width: 300px;
	height: 60px;
	font-weight: 500;
	font-size: 20px;
	font-family: 'Roboto',sen-serif;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
#buttons .container .btn-ground:hover
{
	background-color: #474a4f !important;
	color: #ffffff !important ;
}
#buttons .container .btn-tour:hover
{
	background-color: #474a4f !important;
	color: #ffffff !important ;
}
#buttons .container .btn{
	width: 147px;
	height:50px;
	margin-top: 20px;
	font-family: 'Roboto',sen-serif;
	border-radius: 10px;
	font-weight: 500;
	font-size: 18px;
	margin-left: 2px;
	padding: 0 !important;
}
#buttons .container .btn:hover
{
	background-color: #474a4f !important;
	color: #ffffff !important ;
}
#buttons .container .row
{
	flex-wrap: nowrap;
}

@media only screen and (max-width: 768px) {

	#buttons .btn_col
	{
		flex-direction: column;
	}
	#buttons .container .btn_width
	{
		width: 100%;
		max-width: 100%;
		margin-top: 12px;
		margin-left: 0px;
	}
	#buttons .column
	{
		width: 95% !important;
		max-width: 95% !important;
		padding-left: 20px;
		padding-right: 5px;
	}
	#buttons .container .btn-ground
	{
		width: 50%;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	#buttons .container .btn-tour
	{
		width: 50%;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	#buttons .container .btn_m
	{
		width: 95%;
		margin-bottom: 20px;
	}
	#buttons .container .pd-rt
	{
		padding-left: 0px;
		padding-right: 20px;
	}
 }
 @media only screen and (min-width: 992px) {
 	#buttons .container .btn_width
{
	margin-top: 0px !important;
	width: 60%;
	margin-right: 34px;
}
	#buttons .container .btn_m
	{
		width: 30%;
		
	}
}