body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
i,
ul,
li,
a,
ol,
input,
.ui.header
{
	font-family: 'Roboto', sans-serif;
}

.contactForm 
{
.ui.header.headingFontMontserrat:last-child
{
	font-family: 'Montserrat', sans-serif;
}

.ui.header.subHeading
{
	color: #666666;
	font-size: 17px;
	line-height: 1.6;
}

h3.ui.header
{
	margin: 0px;
	margin-top:5px;
	font-weight: 100;
}
h3.ui.header.mt-30
{
	    margin-top: 30px;
}
.ui.form .field>label.formLabel
{
    font-size: 16px;
    font-weight: 400 !important;
    margin-bottom: 10px;
}
.ui.form .field {
    clear: both;
    margin: 0 0 2em;
}
.ui.form .field>label.formLabel + input,
.ui.form .field>label.formLabel + textarea
{
    border: 1px solid #000;
}
.ui.form .ui.button
{
	    display: table;
    margin: auto;
    background: #ec8322;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid #c16c1c;
}
}