.feedback
{
	margin-top: 30px;
}
.feedback h2
{
	font-size: 27px;
	font-family: 'Montserrat',sen-serif;
}
.feedback p
{
	font-size: 18px;
	font-family: 'Roboto',sen-serif;
	font-weight: 500;
	color: #4c4c4c;
}
.feedback .whats-app-btn
{
    background-color: #009343;
    margin-top: 20px;
    border: 2px solid green !important;
}
.feedback .call-btn
{
	background-color: #ec8322;
}
.feedback .btn
{
       width: calc(100% - 35px);
    height: 45px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid #c16c1c;
    color: white;
}
.feedback video
{
	margin-bottom: 20px;
	border-radius: 9px;
	border: 11px solid black;
}
.feedback .position .image-text .title
{
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto',sen-serif;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}
.feedback .position .image-text .name
{
	font-size: 34px;
	font-weight: bold;
	font-family: 'Montserrat',sen-serif;
	color: white;
}
.feedback .position
{
	position: relative;
}
.feedback .position .image-text 
{
	position: absolute;
	bottom: 29px;
	left: 54px;
}
.feedback .position .logo-txt
{
	position: absolute;
	right: 0px;
	left: 0;
	margin: auto;
	top: 46%;
	text-align: center;
}
.feedback .d-block
{
	display: initial !important;
}
.feedback .pl-50
{
	padding-left: 50px !important;
}
.feedback .position .logo-txt p {
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}


.feedback .lineinfo:before {
    content: 'ATAU';
    position: absolute;
    right: -27px;
    border: 1px solid #c2c2c2;
    background: white;
    padding: 7px 7px;
    top: 50%;
    font-size: 12px;
    z-index: 1;
}

.feedback .titleImg h2 {
    margin: 10px 0px;
}